
<h1>Productos 📱</h1>
{{#if products}}
<table class="table col-md-6">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{code}}</th>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>💥 No existen productos 💥</p>
{{/if}}

